VITE_SUPABASE_URL=https://rnfenveanxhcejhhfkan.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJuZmVudmVhbnhoY2VqaGhma2FuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNzk1NjIsImV4cCI6MjEwMTY1NTU2Mn0.usdamHXTJoyl3MRlwduclpUyBYHFlGa1tk4-LU9RXgs
